*{
    padding: 0;
}

body{
    background-image: linear-gradient(to bottom right, lime, purple, orange);
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.titleBar{
    background-color: black;
    display: flex;
	border-radius: 25px;
}

.title{
    display: flex;
}

.title a{
    text-decoration: none;
}

.title h1{
    background: linear-gradient(to right, rgba(255,100,0,1),rgba(100,255,0,1));
    font-size: xx-large;
    text-decoration: none;
    font-weight: bolder;
    background-clip: text;
    color: transparent;
	width: 400px;
}

.title img{
    float: left;
    display: inline;
    width: 75px;
    height: 75px;
    margin-top: 15px;
	margin-left: 10px;
}

ul{
    list-style-type: none;
    display: inline-flex;
    margin: 0;
    padding: 0;
    background-color: rgba(80,80,80,1);
	border-radius: 25px;
}

.nav{
    padding-top: 10px;
    position:absolute;
	right: 2%;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 30px 20px;
    text-decoration: none;
}

.active {
    background-color: rebeccapurple;
	border-radius: 25px;
}

.idk{
    justify-content: center;
    align-items: center;
    padding: 0;
}

.part{
    background-image: linear-gradient(to bottom left, orange, purple, purple, purple, lime);
    border-radius: 25px;
	border-style: solid;
	border-color: white;
	border-width: 5px;
	margin-top: 20px;
	width: 75%;
	margin-left: 12.5%;
}

.idk h1{
    padding-top: 20px;
    text-align: center;
    font-size: xx-large;
    text-shadow: #FC0 1px 0 10px;
    color: #ecec00;
}

.idk p{
    text-align: center;
    padding: 0px 20px 20px 20px;
}

.learnmore{
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: yellow;
    border-radius: 20px;
}