*{
    padding: 0;
    scale: 1;
}

body{
    background-color: rgba(190,190,190,1);
    align-items: center;
    justify-content: center;
}

.titleBar{
    background-color: rgba(69,69,69,1);
    display: flex;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
}

.title a{
    text-decoration: none;
}

.title h1{
    background: linear-gradient(to right, rgba(255,100,0,1),rgba(100,255,0,1));
    font-size: xx-large;
    text-decoration: none;
    font-weight: bolder;
    background-clip: text;
    color: transparent;
    padding-left: 60px;
}

.title img{
    float: left;
    display: inline;
    width: 50px;
    height: 50px;
    padding-top: 25px;
    padding-left: 2%;
}

ul{
    list-style-type: none;
    display: inline-flex;
    margin: 0;
    padding: 0;
    background-color: rgba(80,80,80,1);
}

.nav{
    padding-top: 10px;
    position:absolute;
    right: 1%;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 30px 20px;
    text-decoration: none;
}

.active {
    background-color: rebeccapurple;
}

.idk{
    justify-content: center;
    align-items: center;
    padding: 0;
}

.part{
    background-color: rebeccapurple;
    border-radius: 20px;
}

.idk h1{
    padding-top: 20px;
    text-align: center;
    font-size: xx-large;
    text-shadow: #FC0 1px 0 10px;
    color: #ecec00;
}

.idk p{
    text-align: center;
    padding: 0px 20px 20px 20px;
}

.learnmore{
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: yellow;
    border-radius: 20px;
}